.nav-ul{
    text-align: center;
    margin-top: 50px;
}
.nav-bar-li{ 
    display: inline;
    margin:10px;

}
.nav-bar-li > a{ 
    font-size: 1.2rem;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    background-color: firebrick;
    color: white;
    border-radius: 20px;

}

